@font-face {
  font-family: Avenue;
  src: url("../assets/fonts/avenue_2/Avenue.otf");
}
@font-face {
  font-family: Fashionism;
  src: url("../assets/fonts/fashionism/fashi954.ttf");
}
@font-face {
  font-family: Roboto;
  src: url("../assets/fonts/roboto/Roboto-Regular.ttf");
}
@keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-600px) rotateX(-30deg) scale(0);
    transform: translateY(-600px) rotateX(-30deg) scale(0);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) rotateX(0) scale(1);
    transform: translateY(0) rotateX(0) scale(1);
    -webkit-transform-origin: 50% 1400px;
    transform-origin: 50% 1400px;
    opacity: 1;
  }
}
@keyframes opacity-appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(228, 228, 228);
  margin: 0;
  padding: 0;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  display: flex;
  align-items: center;
  align-self: center;
  gap: 15px;
  width: 100vw;
  height: 130px;
  flex-direction: column;
  min-width: 630px;
  margin-top: 5px;
}

.header-content {
  display: flex;
  height: 100%;
  width: 90%;
  border: 2px solid black;
  align-items: center;
  justify-self: center;
}

.logo {
  height: 150px;
  justify-self: flex-start;
}

.links-container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: Avenue;
}

.horizontal-line {
  width: 80vw;
  height: 0.5vh;
  color: black;
}

.banner {
  height: 750px;
  width: 90vw;
  display: flex;
  justify-content: center;
  margin-top: 25px;
}

.products-container {
  display: flex;
  flex-wrap: wrap;
  max-width: 1750px;
  padding: 40px 0;
  justify-content: center;
  overflow: hidden;
  justify-self: center;
}

.main-content {
  display: flex;
  height: 100%;
  margin-top: 55px;
}

.page-btn {
  min-height: 50px;
  min-width: 50px;
  align-self: center;
  cursor: pointer;
  background-color: white;
  border-radius: 100%;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 305px;
  height: 500px;
  margin: 10px;
  text-align: left;
  padding-left: 25px;
  box-sizing: border-box;
}
.card h3 {
  width: 100%;
  color: gray;
  padding: 0;
  margin: 0;
  font-family: Fashionism;
  height: 10%;
  margin-top: 15px;
  animation: opacity-appear 0.5s ease-in 0.8s both;
}
.card div {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  height: fit-content;
}
.card div h4 {
  margin: 0;
  animation: opacity-appear 0.5s ease-in 1s both;
}

.card-image {
  height: 70%;
  width: 100%;
  mix-blend-mode: multiply;
  animation: slide-in-top 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.home-content {
  overflow-y: scroll;
}

.link {
  padding-bottom: 15px;
  border-bottom: 2px black solid;
  text-decoration: none;
  color: black;
  cursor: pointer;
  transition: transform 0.5s;
}
.link:hover {
  color: gray;
  transform: scale(1.1);
}

.category-list {
  margin-top: 25px;
  box-sizing: border-box;
  height: fit-content;
  width: 90vw;
  padding: 0 50px;
  animation: slide-in-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.product-detailed {
  display: flex;
  align-items: center;
  width: 100%;
  height: 250px;
  padding: 25px;
  box-sizing: border-box;
  background-color: white;
  margin: 20px 0;
  border-radius: 5px;
}
.product-detailed img {
  height: 100%;
  width: 180px;
}

.product-detailed-firstcontent {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-left: 25px;
  color: black;
  width: 100%;
}
.product-detailed-firstcontent h6 {
  align-items: flex-end;
  color: gray;
}
.product-detailed-firstcontent h5 {
  color: black;
  margin: 0;
  font-size: 18px;
}
.product-detailed-firstcontent h4 {
  font-family: Fashionism;
  font-size: 22px;
}
.product-detailed-firstcontent span {
  font-size: larger;
}

.number-details {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.reviews {
  display: flex;
  align-items: center;
}
.reviews h5 {
  margin: 4px;
}
.reviews h5:nth-of-type(2) {
  font-size: 12px;
  color: gray;
}

.footer {
  width: 100vw;
  height: 20vh;
  color: white;
  background-color: black;
  padding: 0;
  margin-top: 50px;
}
.footer div {
  font-family: Avenue;
  padding: 20px 0px 0px 20px;
  width: 200px;
  display: flex;
  flex-direction: column;
}
.footer div h4 {
  font-family: Roboto;
  font-size: 12px;
}

/*# sourceMappingURL=index.css.map */
